rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Cette règle autorise la lecture et l'écriture sur TOUTES les collections 
    // et TOUS les documents de votre base de données, à tout moment.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
